.login-cont {
  background-color: #152850;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-1 {
  background-color: #e0eefe;
  height: 550px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  border-radius: 25px;
}

.login-img {
  height: 500px;
  width: 550px;
}

.inner-card-1 {
  background-color: white;
  width: 500px;
  height: 550px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;
}

.login-head {
  color: #183b56;
  font-family: 'Roboto';
}

.label-name {
  color: #183b56;
  font-weight: 600;
  font-size: 16px;
}

.input {
  height: 50px;
  width: 400px;
  outline: none;
  border: 1px solid #c3cad9;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  font-family: 'Roboto';
}

.login-butt {
  height: 50px;
  width: 400px;
  background-color: #1565d8;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  font-family: 'Roboto';
  color: white;
  font-weight: 600;
}

.error {
  color: #ff0b37;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .login-cont {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 120vh;
  }
  .card-1 {
    height: 300px;
    width: 100%;
    flex-direction: column;
  }
  .login-img {
    height: 300px;
    width: 100%;
  }
  .inner-card-1 {
    width: 100%;
    height: 500px;
    border-radius: 25px;
    margin: 10px;
  }
  .input {
    width: 100%;
  }
  .login-butt {
    width: 100%;
  }
}
